:root {
	--blue: #6593A6;
	--grey: #58595B;
	--yellow: #F2CF63;
	--orange: #F2C063;
	--white: #F2F2F2;
}

/* Utility Classes */

.container {
	margin: auto;
	max-width: 1024px;
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Typography */

body {
	background-color: var(--grey);
	font-family: 'Karla', sans-serif;
}

/* Header */

header {
	background-color: var(--blue);
	padding: 1rem;
}

.upper-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-toggle {
	color: var(--white);
	fill: var(--white);
}

.upper-header img {
	width: 200px;
}



/* Search Form */

header form {
	margin-top: 1rem;	
}

input[type=search] {
	width: 100%;
	padding: .5rem;
	border-radius: 5px;
	border: none;

}

.magnifying-glass {
	position: relative;
	width: 40px;
}

.magnifying-glass svg {
	width: 30px;
	position: absolute;
	top: 5px;
	right: 5px;
	fill: var(--grey);
}

header input[type=submit] {
	height: 40px;
	width: 100%;

	background-color: var(--orange);
	color: var(--white);
	border: 0;
	border-radius: 5px;
	outline: 0;
	cursor: pointer;
}

main .container {
	background-color: var(--white);
	padding: 2rem 1rem;
	border-radius: .4rem;
}


/* Login Form */



/* Sign-Up Area */



/* Media Queries */

@media screen and (min-width: 720px) {
	
}




