/* Universal Styles */

body {
    background-color: #edf2f7;
    font-family: Arial, Helvetica, sans-serif;
    color: #68778d;
    text-align: center;
}

/* Typographic Styles */

h1 {
    font-weight: bold;
    color: #63b3ed;
}

h2 {
    font-weight: bold;
}

/* Layout Styles */

header p {
    font-weight: bold;
    color: #8594ad;
}

header p span {
    color: #63b3ed;
}

header p a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #dd6b20;
    padding: 0.625rem;
    border: 0.125rem solid #dd6b20;
}

header p a:hover {
    color: #dd6b20;
    background-color: white;
}

main section ul {
    line-height: 2;
}

/* Media Query – Switch to Flexed Sections */
@media screen and (min-width: 45rem) {

    header p a {
        display: inline;
    }
}

/* Media Query – Maximum Width */
