/* developer styles go here */

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav img {
    width: 64px;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

.hide {
    display: none;
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 1rem;
    border-left: 4px solid transparent;
}

nav ul ul a {
    padding-left: 3rem;
}


nav li:not(:first-of-type) a:hover {
    border-left: 4px solid #f7d874;
}

nav li {
    position: relative;

}


@media (min-width: 600px) {
    nav>ul {
        display:flex;
        align-items: center;
    }
    nav ul ul {
        display: none;
        position: absolute;
    }

    nav li:hover > ul {
        display: block;
    }

    nav li {
        flex-grow: 1;
        text-align: center;
    }

    nav a {
        border: none;
    }
    nav li:not(:first-of-type) a:hover {
        border: none;
    }

    nav ul ul a {
        padding: 1rem;
        
    }

    nav ul ul ul {
        left: 100%;
        top: 0;
    }

}

@media (min-width: 750px) {
    nav a {
        white-space: no-wrap;
    }
}

nav {
    background-color: aqua;
}

nav ul {
    background-color: bisque;
}

nav ul ul {
    background-color: greenyellow;
}

nav ul ul ul li {
    background-color: dodgerblue;
}

nav li {
    background-color: crimson;
}

nav li li {
    background-color: darkorchid;
}